 /* Game styles */
 body {
  background-image: url(game-background.jpg);
 }
 #game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    background-color: black;
    width: 420px;
    height: 420px;
    margin: auto;
    
  }

  #game-info, #player-fps {
    display: flex;
    width: 420px;
    margin: auto;
    justify-content: space-between; /* Distribute items with space in between */
    align-items: center; /* Center items vertically */
  }
  
  #lives, #timer, #score {
    font-size: 24px;
    margin-top: 20px;
    color: yellow;
    text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0;
  }
  
  #player-name, #fps {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: yellow;
    text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0;
  }

  h1 {
    color: rgb(61, 50, 217);
    text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0;
    text-align: center;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    background-color: #111;
    z-index: 0;
  }

  .wall {
    background-color: transparent;
      background-image: url(wall.png);
      background-size: cover;
  }

  .pacman {
    background-color: transparent;
      background-image: url(favpng_pacman-background.png);
      background-size: cover;
  }

  .dot {
    width: 15px; 
    height: 15px;
    background-color: transparent;
    background-image: url('pngegg.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
  }
  .hidden-dot {
    display: none;
  }

  .power-pill {
    width: 15px; 
    height: 15px;
    background-color: transparent;
    background-image: url(powerpill.png); 
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
  }
  .hidden-power-pill {
    display: none;
  }

  .ghost {
    background: transparent;
    background-image: url(favpng_casper-ghost-free-content-clip-art.png);
    background-size: cover;
  }
  .ghost.frozen {
    background-image: url(frozen_ghost.png);
  }

  
/* Pause menu overlay */
#pause-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent overlay */
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure it appears above game content */
}

/* Centered content inside the pause menu */
.menu-content {
  background-color: white; /* Menu background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  
}

.menu-content button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffc107;
  color: black;
  cursor: pointer;
}

.menu-content button:hover {
  background-color: #ffca2c;
}

audio{
  display: none;
}

